<div class="container">
    <h2 class="page-header">Customer Care</h2>

    <div class="panel panel-default">
        <div class="panel-heading">Our Location</div>
        <div class="panel-body">
            Gaia Purity<br />
            7887 East Belleview Avenue<br />
            Suite 1100<br />
            Denver, CO 80111
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Contact Info</div>
        <div class="panel-body">
            Phone: 1-800-803-1069<br />
            Email: <a href="mailto: info@gaia-purity.com">info@gaia-purity.com</a>
        </div>
    </div>
</div>