<div class="container" style="padding:0;">
    <div class="col-md-12" style="padding: 0;">
        <img class="auto-scale" ng-src="img/gp_hero_v2.jpg" alt="Gaia Purity 100% Organic Products" title="Gaia Purity 100% Organic Products" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Mission Statement</h2>
            <p>Gaia is the ancient Greek goddess of the Earth. She is the primal mother figure who gave birth to only the most pure of nature: the sky, the mountains, and the sea. Similarly Gaia Purity strives to provide only the most wholesome skin-care products for its customers.</p>
            <p><a class="btn btn-default" role="button" ng-href="#/products">View details <i class="glyphicon glyphicon-chevron-right"></i></a></p>
        </div>

        <div class="col-md-4">
            <h2>Company Info</h2>
            <p style="padding-bottom: 18px;">Our mission is to serve the purist skin-care products at the most affordable cost. And much like the goddess of the Earth, we will do so with unconditional care, balance, harmony, and respect.<br /></p>
            <p><a class="btn btn-default" role="button" ng-href="#/contact">Contact Us <i class="glyphicon glyphicon-chevron-right"></i></a></p>
        </div>

        <div class="col-md-4">
            <h2>Our Products</h2>
            <p style="padding-bottom: 37px;">Gaia Purity products are 100% Organic, made from the highest quality materials on the market.<br /><br /></p>
            <p><a class="btn btn-default" role="button" ng-href="#/products">Learn more <i class="glyphicon glyphicon-chevron-right"></i></a></p>
        </div>
    </div>
</div>