<div class="container">
    <h2 class="page-header">Privacy Policy<br /><small><i>Effective: May 7, 2015</i></small></h2>

    <p class="lead">Gaia Purity understands the importance of privacy of its users and respects it. Our privacy policy describes how we collect, store and use the information about you. Before making use of our website or the services provided by us through our website, carefully go through and review our privacy policy.</p>
    <p><i>Our privacy policy applies only to information collected through this website and not to information collected from/through us offline.</i> This privacy policy does not apply, when you link to third-party sites from this website which are not owned or controlled by us. The third-party sites have their own privacy policies which we encourage you to read before using those sites.</p>

    <h4>Consent</h4>
    <p>Gaia Purity will not collect use or reveal your personal information without your consent. Generally, we ask for the consent explicitly but sometimes, we may conclude consent from your behaviour and actions. By using our website or any service offered through the website, you signify your consent to collecting, using and revealing your personal information according to this privacy policy. If you disagree to our privacy policy, do not use the website or any service accessed through it. This privacy policy is subject to change from time to time, so we recommend checking periodically to know about the changes. If you continue to use the website, it will mean you have accepted the changes made to our privacy policy.</p>

    <h4>Personal Information we collect</h4>
    <p>
        <b>1.) Information that is directly provided by you:</b><br />
        When you register with our website, open an account with our website, sign up to receive information, make a purchase through our website, use applications, fill out a survey, make inquiry etc. we may collect some information such as:
        <ul>
            <li>Name</li>
            <li>Address</li>
            <li>Email Address</li>
            <li>Username</li>
            <li>Telephone Number</li>
            <li>Credit Card Information / Other payment information</li>
            <li>Age</li>
            <li>Date of Birth</li>
            <li>Gender</li>
            <li>Contents and posts you submit to Gaia Purity website</li>
            <li>Personal information voluntarily provided by you.</li>
        </ul>
    </p>

    <p>
        <b>2.) Information collected automatically when you use Gaia Purity website:</b><br />
        We use cookies and some other tools to collect information automatically while you use Gaia Purity website, subject to the terms of our privacy policy. Cookie is a small bit of computer code send to your device and stored on the hard-drive for record keeping purposes. Gaia Purity may use cookies to collect personal information for promotional, marketing, or security purposes. Most of the browsers are set up to accept these cookies. You can change the settings on your browser to disable cookies or send you an alert when cookies are sent to your device. Disabling cookies may affect your experience on Gaia Purity website. Automatically collected information may include:
        <ul>
            <li>Type of browser used by you</li>
            <li>Web pages viewed by you</li>
            <li>Your IP Address</li>
            <li>Hyperlinks clicked by you</li>
            <li>User name, gender, profile picture and other information chosen by you to share while using third-party sites.</li>
            <li>Websites visited before coming to the Gaia Purity website.</li>
        </ul>
    </p>

    <p>
        <b>3.) Information collected by other sources:</b><br />
        We may receive personal information from third-parties, public databases and other such commercially available sources, if you have given permission to share it. Such information may include:
        <ul>
            <li>Name</li>
            <li>Address</li>
            <li>Age</li>
            <li>Shopping Habits</li>
            <li>Hobbies and Interest</li>
            <li>Blogs, user generated content, postings, as permitted by law.</li>
        </ul>
    </p>

    <h4>How is your Personal Information used?</h4>
    <p>
        The personal information shared by you helps us to make our services better for you in the following ways:<br />
        <ul>
            <li>Fulfill your orders for products and services.</li>
            <li>Notify you about new products, services, features, updates etc.</li>
            <li>Provide you customer service such as questions, inquiries or any issues.</li>
            <li>Providing personalized experience while using our services.</li>
            <li>Alerting you about upgrades, special offers, events, promotions etc.</li>
        </ul>
        We may merge the personal information gathered at Gaia Purity with data given to us by others. We do not trade, exchange, sell, license or rent personal information to/with third-parties, except as otherwise provided in our privacy policy. We may share your personal information among our affiliates worldwide.
    </p>

    <h4>Is your Personal Information disclosed to third-parties?</h4>
    <p>Gaia Purity may need to disclose some of your personal information to third-parties to fulfill your orders, process mailings or process and store data on Gaia Purity’s behalf. These third-parties do not have authorization to use or disclose your personal information in any manner other than the provision of services designated by us or processing and delivery of products and services. We take reasonable steps so that the security of your personal information is maintained by these third-parties.</p>
    <p>We reserve the right to reveal your personal information as needed or permitted by law for example; your personal information may be disclosed to respond to a court order. We may disclose your personal information when there is a reason to believe that disclosing your personal information is required to bring legal action against you when we reasonably believe that you may be violating agreements, may be causing harm to or interference with Gaia Purity, other user of the website, any service, third-parties or the general public.</p>
    <p>We may ask you, if you wish to receive information from third parties. Gaia Purity or those third-parties may use your personal information to contact you. Please note that Gaia Purity cannot control the activities of third-parties, so we cannot guarantee their adherence to similar privacy policy and security as Gaia Purity.</p>

    <h4>Transfer of Personal Information</h4>
    <p>Gaia Purity may transfer your personal information to recipients in other countries as a part of its business operations. These countries may not provide same legal data protection as the country from where you access Gaia Purity website. By using our website or services, you infer consent to transfer and processing of personal information by Gaia Purity.</p>

    <h4>Who collects your Personal Information?</h4>
    <p>When you are sharing personal information while on this website, you are sharing it with Gaia Purity, its parent, its affiliates and sister companies, unless stated otherwise specifically. You may receive communication from affiliates of Gaia Purity as a result of this sharing. Some services offered by Gaia Purity through this website are provided in conjunction with third parties who have a business relationship with Gaia Purity. If your personal information is being collected by company other than Gaia Purity, you will be alerted at the time that the process of collecting personal information is initiated. If you do not wish to share your personal information like this, do not opt to use the service for which the information is collected.</p>

    <h4>Managing your Personal Information</h4>
    <p>While providing your personal information on this website, you may choose to decline offers, information, updates about new products, services, promotions. Messages sent by Gaia Purity have procedures within them to cancel receipt of similar information in future. You may also “opt- out” of some features or functions.</p>
</div>